In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [5]:
#load the data
sal1=pd.read_csv(r"C:\Users\HP\Documents\Salary Data.csv")

In [7]:
#view the data
sal1

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [9]:
#identify the null values
sal1.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [11]:
#drop the null values
sal1.dropna(inplace=True)

In [13]:
sal1

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [17]:
#preprocessing the data label
from sklearn.preprocessing import LabelEncoder

In [27]:
#converting useing labelEncoders
le=LabelEncoder()
sal1['Gender']=le.fit_transform(sal1['Gender'])
sal1['Education Level']=le.fit_transform(sal1['Education Level'])
sal1['Job Title']=le.fit_transform(sal1['Job Title'])

In [29]:
sal1.head()

    Age  Gender  Education Level  Job Title  Years of Experience    Salary
0  32.0       1                0        159                  5.0   90000.0
1  28.0       0                1         17                  3.0   65000.0
2  45.0       1                2        130                 15.0  150000.0
3  36.0       0                0        101                  7.0   60000.0
4  52.0       1                1         22                 20.0  200000.0

In [31]:
# Train the model with some sample data (replace with your own data)
ind=sal1[["Age","Gender","Education Level","Job Title","Years of Experience"]]
dep=sal1["Salary"]

In [33]:
# Create a Linear Regression model
LR = LinearRegression()
LR.fit(ind,dep)

LinearRegression()

In [35]:
LR.predict([[32.0,1,2,17,5.0]])

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([91744.45451308])

In [41]:
ind=float(input("enter a age"))
ind=int(input("enter a gender which is 0 or 1"))
ind=int(input("what is your education level"))
ind=int(input("enter yuor job title"))
ind=float(input("what is your experience"))
out=LR.predict([[ind,ind,ind,ind,ind]])
print("the Salary is",out[0])

enter a age 32.0
enter a gender which is 0 or 1 1
what is your education level 1
enter yuor job title 22
what is your experience 20.0

the Salary is 504713.20322452934

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [45]:
# Now, let's predict the salary based on user input
age = float(input("Enter your age: "))
gender = int(input("Enter your gender (0 or 1): "))
education_level = int(input("Enter your education level: "))
job_title = int(input("Enter your job title: "))
experience = float(input("Enter your experience: "))
out = LR.predict([[age, gender, education_level, job_title, experience]])
print("The predicted salary is:", out[0])

Enter your age:  40
Enter your gender (0 or 1):  0
Enter your education level:  0
Enter your job title:  123
Enter your experience:  2.0

The predicted salary is: 71484.83031398185

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(